<div position: relative>
  <img src="<%= asset_path 'home/1年.gif'%>"width="27%" height="39%" style="position:absolute; top:50px; left:70px"/>
  <img src="<%= asset_path 'home/２年.gif'%>"width="27%" height="39%" style="position:absolute; top:250px; left:348px"/>
  <img src="<%= asset_path 'home/３年.gif'%>"width="27%" height="39%" style="position:absolute; top:50px; left:695px"/>
  </div>