<p id="notice"><%= notice %></p>

<font color='white' size="6">年間カレンダー</font>

<% if @nendo != 0 %> 
<object data="<%= asset_path 'pdf/calendar/' + @nendo.to_s + '.pdf'%>" type="application/pdf" width="100%" height="650px"></object>
<% end %>


<br>
<font size="3"><%= link_to 'TOP画面へ' , '/', :style=>"color:white;"  %>

<br>
<%= link_to '登録（教員限定）', new_calendar_path , :style=>"color:white;"  %>
