<font size="5" color="white">編集画面</font>

<%= render 'form', info: @info %>



<br>
<td><font size="4"><%= link_to '削除', info_path, method: :delete, data: { confirm: '本当にいいですか？' } , :style=>"color:white;" %></td>

